<html lang="en">
  <head>
  <title>Jupiter - CHATBOT</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>

  <body >
    <section class="col-lg-4 col-sm-6">
          <h1 >JUPITER</h1>
          <h2>Chatbot With speech API</h2>

          <button><i class="fa fa-microphone"></i></button>

          <div >
              <p font-color="#333"><B>YOU</B> : <em class="output-you">...</em></p>
              <p font-color="#333"><B>JUPITER</B> : <em class="output-bot">...</em></p>
          </div>
        </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
    <script src="js/script.js"></script>



  </body>
</html>
